/* styles.css */

* {
	font-family: Arial;
}

body {
	background-color: rgb(34, 34, 34);
	color: whitesmoke;
}

.logo {
	font-family: Arial;
	font-size: 2rem;
	color: white;
}

.search-bar {
	max-width: 700px;
	height: 50px;
	background-color: rgb(146, 146, 146);
	border: 1px;
	border-color: white;
	color: white;
}

.message-bar {
	width: 400px;
	height: 700px;
	background-color: rgb(73, 73, 73);
}

.message-row {
	display: flex;
	margin-bottom: 12px;
}

.message-row.left{
	justify-content: flex-start;
}

.message-row.right{
	justify-content: flex-end;
}

.message-bubble{
	display:inline-block;
	background-color: gray;
	color: white;
	padding: 10px 16px;
	border-radius: 18px;
	max-width: 60%;
	word-wrap: break-word;
}

.testimg.jpg {
	width: 1px;
	height:auto;
}

/* Solution to text problem */
.page {
  height: calc(100vh - 80px);
  width: 100%;
}

.chat-section {
  min-width: 0;
  background-color: rgb(54, 54, 54);
}

.chat-area {
  min-height: 0;
}

.messages {
  min-height: 0;
  overflow-y: auto;
}

.message-row {
  display: flex;
  width: 100%;
  margin-bottom: 12px;
}

.message-row.left {
  justify-content: flex-start;
}

.message-row.right {
  justify-content: flex-end;
}


/* styles.css */
/* 
* {
	font-family: Arial;
}
html{
	width: 100%;
	height: 100%;
}

body{
	margin: 1rem;
	background-color:black;
	color: rgb(255, 255, 255);
	font-size: 5rem;
	overflow: hidden;
	background: url("../img/flames.gif");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.grid-container {
	display:grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	margin: 10% 4rem 0 4rem;
}

.last {
	padding-bottom: 2rem;
	border-bottom: 2px solid rgb(220, 200, 180);
}

div {
	transition-property: transform;
	transition-duration: 3s;
} */